certifi==2022.12.7
charset-normalizer==2.1.1
idna==3.4
requests==2.28.1
urllib3==1.26.13

easyocr==1.6.2
geonamescache==1.5.0
keras_ocr
matplotlib==3.6.2
numpy==1.23.4
pandas==1.5.0
python_dateutil==2.8.2
spacy==3.4.3
opencv_python_headless==4.5.4.60
python-dotenv
apify_client
openai
